.p1gut4yb {
    width: 400px;
    height: 400px
}

.p1gut4yb .ui-input {
    margin-top: 4.375rem
}

.p1gut4yb .tip {
    margin-top: .3125rem
}

.p1gut4yb .ui-button {
    margin: 3.125rem auto 0;
    width: 15.5rem
}

.f1xwfrce {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.f1xwfrce button svg {
    width: 1.25rem;
    height: 1.125rem
}

.p1y9o9bj {
    --m8raho: #;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
    line-height: 1;
    background: var(--background-color);
    border-radius: var(--border-radius);
    padding: 12px 0 8px
}

.darken .p1y9o9bj {
    --m8raho: #25272C
}

.p1y9o9bj svg {
    width: 1.875rem;
    height: 1.875rem
}

.p1y9o9bj .promo-b {
    width: 1.875rem;
    height: 1.875rem
}

.p1y9o9bj .promo-btn {
    width: auto;
    margin-bottom: .5rem;
    height: auto
}

.p1y9o9bj img {
    width: auto;
    height: 68px
}

@media screen and (max-width:621px) {
    .p1y9o9bj {
        border-top: 1px solid rgba(49, 56, 61, .5);
        padding: .75rem 0;
        margin-top: 1rem
    }

    .p1y9o9bj img {
        height: 2.5rem
    }
}

.w19znwzc {
    --18w92jy: #fff;
    --35p5sb: #fff;
    --rl3gpp: #e9eaf2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    position: relative
}

.darken .w19znwzc {
    --18w92jy: #17181b;
    --35p5sb: #1e2024;
    --rl3gpp: transparent
}

.w19znwzc>div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.w19znwzc .header, .w19znwzc .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 4.5rem;
    height: auto;
    padding-left: .75rem;
    padding-right: .75rem;
    position: relative;
    z-index: 2;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

.w19znwzc .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 1%;
    background-color: var(--18w92jy)
}

.w19znwzc .header {
    background-color: var(--35p5sb);
    border-bottom: 1px solid var(--rl3gpp)
}

.w19znwzc .footer {
    background-color: var(--35p5sb)
}

.w19znwzc .footer:before {
    content: "";
    position: absolute;
    top: -.3125rem;
    left: 0;
    height: .3125rem;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0))
}

.h10v43fa {
    --z9rvzs: #000;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0
}

.darken .h10v43fa {
    --z9rvzs: #f5f6f7
}

.h10v43fa .pri-title {
    font-size: 1rem;
    color: var(--z9rvzs);
    font-weight: 700
}

.w1d1svac {
    --12zvzzp: rgba(195, 195, 195, .4);
    --1ummrq5: #f5f6fa;
    --whdmoy: #31373d
}

.darken .w1d1svac {
    --12zvzzp: rgba(195, 195, 195, .05);
    --1ummrq5: #1e2024;
    --whdmoy: #f5f6f7
}

.w1d1svac .ui-scrollview {
    height: 1px;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto
}

.w1d1svac .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    height: 3.5rem;
    border-bottom: 1px solid var(--12zvzzp)
}

.w1d1svac .item:last-of-type {
    border-bottom: none
}

.w1d1svac .item>button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3.875rem;
    height: 2.25rem;
    border-radius: var(--border-radius);
    margin-left: .3125rem;
    font-size: .75rem;
    border: 1px solid rgba(95, 105, 117, .3)
}

.w1d1svac .item .accept {
    color: var(--primary-color)
}

.w1d1svac .wrap {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1.375rem;
    border-radius: var(--border-radius);
    background-color: var(--1ummrq5)
}

.w1d1svac .ui-pagination {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin: .625rem
}

.w1d1svac .content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 1.125rem
}

.w1d1svac .avatar {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .625rem;
    border-radius: 50%
}

.w1d1svac .title {
    font-size: .875rem;
    font-weight: 700;
    color: var(--whdmoy)
}

@media screen and (max-width:621px) {
    .w1d1svac .wrap {
        margin: 0;
        border-radius: none
    }
}

.t10y9le5 {
    --wz4i5m: rgba(153, 164, 176, .6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    color: var(--wz4i5m)
}

.darken .t10y9le5 {
    --wz4i5m: rgba(153, 164, 176, .6)
}